<!-- {% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <h2>Create Recipe</h2>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
      </form>
    </div>
  </div>
</div>
{% endblock %} -->


{% extends 'base.html' %}

{% block content %}
  <h1>Create Recipe</h1>

  <form method="POST" action="{% url 'create_recipe' %}">
    {% csrf_token %}
    <label for="id_title">Title:</label>
    <input type="text" name="title" id="id_title">

    <label for="id_content">Content:</label>
    <textarea name="content" id="id_content"></textarea>

    <input type="submit" value="Create Recipe">
  </form>

  <p>Your recipe will be visible after it has been approved by the admin.</p>
{% endblock %}
