{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">

        <div class="col-12 mt-3">
            <img class="main-image"
                src="https://res.cloudinary.com/dvec0etvd/image/upload/v1685385509/main_pskhlz.jpg"
                alt="Main Image">
        </div>
        <hr>
        <h1 class="card-title">Welcome to our Traditional Irish Recipes Book!</h1>
        <hr>
        <h2 class="card-title">Recipes from the Author:</h2>
        <!-- Recipe Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in page_obj %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://www.irishcentral.com/uploads/article/133633/IRISH_Crisp_sandwich___IrishCentral_2.jpg?t=1656579230" alt="tayto sandwich image">
                                {% else %}
                                <img class="card-img-top" src="{{ post.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.description }}</p>
                            </a>
                            <hr>
                            <p class="card-text text-muted h6">{{ post.created_on }} <i class="far fa-heart"></i> {{ post.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>


        <!-- Approved Recipes Column -->
        <div class="col-12 mt-3 left">
            <h2 class="card-title">Your Favourite Recipes</h2>
            <hr>
            <div class="row">
                {% for recipe in approved_recipes %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            {% if recipe.image %}
                            <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.title }}">
                            {% endif %}
                            <h2 class="card-title">{{ recipe.title }}</h2>
                            <p class="card-description">{{ recipe.description }}</p>
                            <p class="author">Author: {{ recipe.author }}</p>

                            <h3>Ingredients:</h3>
                            <p>{{ recipe.ingredients|safe }}</p>

                            <h3>Instructions:</h3>
                            <p>{{ recipe.instructions|safe }}</p>

                            {% if user.is_authenticated and user == recipe.author %}
                            <a href="{% url 'update_recipe' recipe.pk %}" class="btn btn-primary">Edit</a>
                            <a href="{% url 'delete_recipe' recipe.pk %}" class="btn btn-danger">Delete</a>

                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>



        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>

{% endblock %}