{% extends 'base.html' %}
{% block content %}
  <h2>Update Recipe</h2>
  {% if messages %}
    <div class="alert alert-success" role="alert">
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <form method="post" action="{% url 'update_recipe' recipe_id=recipe.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update</button>
  </form>
{% endblock %}
